<header class="header">
  <div class="header-left">
    <div class="breadcrumb">
      <!-- Aquí podrías poner tu título o rutas -->
    </div>
  </div>

  <div class="header-right">
    <!-- Buscador -->
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Buscar...">
    </div>

    <!-- Notificaciones -->
    <div class="notifications">
      <button class="notification-btn">
        <i class="fas fa-bell"></i>
        <span class="notification-badge">3</span>
      </button>
    </div>

    <!-- Perfil de usuario -->
    <div class="user-profile" (click)="toggleUserMenu()">
      <img [src]="photoURL || 'assets/images/logo.jpeg'" alt="Avatar" class="avatar">
      <div class="user-info">
        <span class="user-name">{{ userName }}</span>
        <span class="user-role">{{ userRole | titlecase }}</span>
      </div>
      <i class="fas fa-chevron-down"></i>

      <div class="user-menu" [class.active]="isUserMenuOpen">
       

        <!-- Cliente -->
        <ng-container *ngIf="userRole==='cliente'">
          <a routerLink="/profile" class="menu-item"><i class="fas fa-user"></i>Mi Perfil</a>
          <a routerLink="/appoinments" class="menu-item"><i class="fas fa-calendar-alt"></i>Citas</a>
          <a routerLink="/goals" class="menu-item"><i class="fas fa-bullseye"></i>Objetivos</a>
          <a routerLink="/loyaltycard"  class="menu-item"><i class="fas fa-star"></i>Tarjeta de Fidelidad</a>
        </ng-container>

        <!-- Admin -->
        <ng-container *ngIf="userRole==='admin'">
          <a routerLink="/dashboard-admin" class="menu-item"><i class="fas fa-tools"></i>Admin Panel</a>
        </ng-container>

        <!-- Nutricionista -->
        <ng-container *ngIf="userRole==='nutricionista'">
          <a routerLink="/dashboard-nutricionista" class="menu-item"><i class="fas fa-apple-alt"></i>Nutricionista</a>
        </ng-container>
        <ng-container *ngIf="userRole==='nutricionista'">
          <a routerLink="/nutri-schedule" class="menu-item"><i class="fas fa-calendar-check"></i>Citas</a>
        </ng-container>
           <ng-container *ngIf="userRole==='nutricionista'">
          <a routerLink="/goals-nutricionist"  class="menu-item"><i class="fas fa-bullseye"></i>Seguimiento de objetivos</a>
        </ng-container>
          <ng-container *ngIf="userRole==='nutricionista'">
          <a routerLink="/loyalty-card-nutricionist"  class="menu-item"><i class="fas fa-star"></i>Tarjeta de Fidelidad</a>
        </ng-container>
        

        <div class="menu-divider"></div>
        <a (click)="logout()" class="menu-item logout"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a>
        
      </div>
    </div>
  </div>
</header>
