<!-- src/app/core/login/login.component.html -->
<div class="login-wrapper">
  <div class="login-card">

    <div class="login-logo">
      <img src="/assets/images/logo.jpeg" alt="Logo NutriSmart" />
    </div>

    <div class="login-header">
      <h2>NutriSmart</h2>
      <br>
      <p>Inicia sesión para continuar</p>
      <br>
    </div>

    <!-- Si NO está autenticado, mostramos el formulario -->
    <form
    *ngIf="!isAuthenticated"
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm)"
    novalidate
    class="login-form"
  >
    <!-- correo -->
    <input
      type="email"
      name="correo"
      [(ngModel)]="form.correo"
      required
      email
    />
  
    <!-- contraseña -->
    <input
      type="password"
      name="password"
      [(ngModel)]="form.password"
      required
      minlength="8"
    />
  
    <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </button>
  
      <!-- Mensaje de error -->
      <div *ngIf="error" class="error global-error">
        {{ error }}
      </div>
      <!-- Mensaje de info (para admin) -->
      <div *ngIf="infoMessage" class="info global-info center">
        {{ infoMessage }}
      </div>
  </form>
  

    
    <div *ngIf="isAuthenticated" class="login-actions">
      <p>¡Bienvenido!</p>
      <button class="btn logout-btn" (click)="logout()">Cerrar Sesión</button>
    </div>

    <div class="login-footer">
      <small>
        ¿No tienes cuenta?
        <a routerLink="/register" class="register-link">Regístrate aquí</a>
      </small>
      <br>
      <small>
        <a routerLink="/reset-password" class="forgot-link"> ¿Olvidaste tu contraseña?</a>
      </small>
    </div>

  </div>
</div>
